@{
    ViewData["PageTitle"] = "Trang chủ";
}

<h1>Đây là trang danh sách trang trại</h1>

<p>Bây giờ là: @ViewBag.CurrentTime</p>

<div class="p-4">
    @foreach (var farmItem in Model)
    {
        <partial name="FarmList" model="farmItem" />
    }
</div>